.login-wrapper {
  background-color: #ffffff;

  padding: 2rem;
}

.initial-wrapper {
  background-color: #f7f7f7;
}

.header-menu-trigger {
  display: none;
}

.br-radio {
  display: flex;
  justify-content: center;
}

.br-item > .br-checkbox:not(.hidden-label) input + label,
.br-item > .br-radio:not(.hidden-label) input + label {
  width: auto;
  padding-right: 20px;
}
